<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Edit Campground</h1>
            <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input type="text" name="campground[title]" id="title" class="form-control"
                        value="<%= campground.title%> " required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        value="<%= campground.location%>" required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add Images</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                  </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]"
                        id="description" required><%= campground.description%></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price_label">$</span>
                        <input id="price" type="text" class="form-control" aria-label="price-label"
                            name="campground[price]" value="<%= campground.price%>" required>
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach((image, i) => { %>
                        <img class="img-thumbnail" src="<%= image.thumbnail %>" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= image.filename %>">
                        </div>
                        <label for="image-<%= i %>">Delete?</label>
                    <% }) %>
                </div>
                <button class="btn btn-info" type="submit">Update Campgound Information</button>
                <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">Back To <%= campground.title %> </a>
            </form>
        </div>
    </div>