<% layout("layouts/boilerplate") %> 
    <h1>All Campgrounds</h1>
        <% campgrounds.forEach(campground => { %>
            <div class="card" mb-3> 
                <div class="row">
                    <div class="col-md-4">
                        <% for( let image of campground.images) { %>
                            <img src="<%= image.url%> " alt="" class="img-fluid" style="max-height: 300px;" >
                        <% } %>
                        
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.title %> </h5>
                            <p class="card-text"> <%= campground.description %> </p>
                            <p class="card-text">
                                <div class="text-muted"> <%= campground.location %> </div>
                            </p>
                            <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">View <%= campground.title %> </a>
                        </div>
                    </div>
                </div>
        </div>
        <% }) %> 
    <a href="/campgrounds/new" class="btn btn-primary">add new camp</a>
  